.form {
  margin:70px;
  position: absolute;
  left: 30%;
  top: 55%;
  width: 35%;
  text-align: center;
}

.form input {
  font-size: 10px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:190px;
  width: 15%;
  text-align: center;
}
